@font-face {
    font-family: gel-regular ;
    src: url(./Gellix-Regular.woff2);
}

@font-face {
    font-family: gel-medium ;
    src: url(./Gellix-Medium.woff2);
}

@font-face {
    font-family: gel-semibold ;
    src: url(./Gellix-SemiBold.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    min-height: 100vh;
    background-color: #1B1914;
}

.main{
  overflow: hidden;
  position: relative;
}

.page1{
    width: 100vw;
    min-height: 70vh;
   background-color: #1B1914;
   position: relative;
   
}

.page1>h1:nth-child(1){
    font-family: gel-medium;
    font-size: 8.8vw;
    color: white;
    position: absolute;
    top: 55%;
    left: 1%;
}
.page1>h1:nth-child(2){
    font-family: gel-medium;
    font-size: 8.8vw;
    color: white;
    position: absolute;
    top: 80%;
    left: 1%;
}

.blank{
    height: 50vh;
    width: 100vw;
    background-color: #1B1914;
    border: none;
    
}

.page2{
width: 100vw;
height: 100vh;
   background-color: #1B1914;
 
   display: flex;
   flex-direction: row;
}

.page2 section {
    flex: 1; 
    height: 100%;
}


.page3{
    width: 100vw;
    min-height: 100vh;
   background-color: red;
   font-family: gel-medium;
   color:#1B1914 ;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

 .page3>h1{
    font-size: 11.7vw;  
    margin-top: 1vw;
}

.page3 .word:nth-child(1) {
  margin-right: -2.5vw; /* add more space after "The" */
}

.page3 .word:nth-child(2) {
  margin-right: -2.5vw; /* more space after "Music" */
}

.page3 h2{
    font-size: 12vw;
    text-align: center;   
    margin-top: -2vw;
   
}

.page3 .word2:nth-child(1) {
  margin-right: -2.5vw; /* add more space after "can" */
}

.page3 .word2:nth-child(2) {
  margin-right: -2.5vw; /* more space after "be" */
}

.page4{
    width: 100vw;
    min-height: 100vh;
   background-color: red;
   font-family: gel-medium;
   color: #1B1914;
   position: relative;
   
}

.page4>h1{
    font-size: 9vw;  
    
}

.page4 h1 span{
    position: absolute;
}

.page4 h1 span:nth-child(1){
    top: 30%;
    left: 15%;
    
}

.page4 h1 span:nth-child(2){
    top: 48%;
    left: 35%;
    
}





