@font-face {
    font-family: gel-regular ;
    src: url(./Gellix-Regular.woff2);
}

@font-face {
    font-family: gel-medium ;
    src: url(./Gellix-Medium.woff2);
}

@font-face {
    font-family: gel-semibold ;
    src: url(./Gellix-SemiBold.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    min-height: 100vh;
    background-color: #1B1914;
}

.main{
  /* overflow: hidden; */
}

.page1{
    width: 100vw;
    min-height: 70vh;
   background-color: #1B1914;
   position: relative;
}

.page1>h1:nth-child(1){
    font-family: gel-medium;
    font-size: 8.8vw;
    color: white;
    position: absolute;
    top: 55%;
    left: 1%;
}
.page1>h1:nth-child(2){
    font-family: gel-medium;
    font-size: 8.8vw;
    color: white;
    position: absolute;
    top: 80%;
    left: 1%;
}

.blank{
    height: 50vh;
    width: 100vw;
    background-color: #1B1914;
    border: none;
}

.page2{
width: 100vw;
height: 100vh;
   background-color: #1B1914;
 
   display: flex;
   flex-direction: row;
}

.page2 section {
    
    flex: 1; 
    height: 100%;
  
    
}


.page3{
    width: 100vw;
    min-height: 70vh;
   background-color: red;
   position: relative;
}

